<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Isana - store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <style>

    @import url(https://fonts.googleapis.com/css?family=Raleway);

    body{
      font-family: 'Open Sans', sans-serif;
    }


  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  a{
    color: black;
  }

  a:hover{
    color: black;
  }

  #Logout{

    color: red;

  }


.card.product .btn {
  bottom: 1.5rem;
  max-width: 80%;
}

.price {
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .card-container {
    margin-bottom: 2rem;
  }
}

   

</style>


<div id="desktop">


    <header>



  {% if request.user.is_authenticated %}
  <nav class="navbar navbar-light ">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
    <form class="form-inline" action="{% url 'cart' %}">
      <div class="dropdown show">
        <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user }}
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Cart</a>
          <a class="dropdown-item" id="Logout" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
      <button class="btn" style="width: 100px; margin-left: 30px;"><img src="{% static 'shopping-cart.png' %}" width="40%"></button>
    </form>
  </nav>
  {% else %}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
    <form class="form-inline" action="{% url 'cart' %}">
    <a href="{% url 'login' %}"> Login</a>
      <button class="btn" style="width: 100px; margin-left: 30px;"><img src="{% static 'shopping-cart.png' %}" width="40%"></button>
    </form>
  </nav>
  {% endif %}

    </header>

</div>
    <br>
<br>
<br>
<br>

<form method="POST">
  {% csrf_token %}
<center><h4>My Cart</h4></center>
<br>
<br>
<br>

<section class="h-100" >
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">

          <div>
            
          </div>
        </div>

        {% for item in items %}
        <div id="cart-item">
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="{{ item.image.url }}"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ item.name }}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
         
                </button>

                <p>quantity:  {{ item.quantity }}</p>

                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
            
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">${{ item.price }}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="/delete-item/{{item.id}}" class="text-danger">delete</i></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

        <div class="card">
          <div class="card-body">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Proceed To Checkout</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>


<script>

var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    if (isMobile) {
        document.getElementById('desktop').innerHTML =`
        <nav class="navbar navbar-light light-blue lighten-4">

<!-- Navbar brand -->
<a class="navbar-brand" href="#">Isana</a>

<!-- Collapse button -->
<button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
  aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
      class="fa fa-bars fa-1x"></i></span></button>

<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="navbarSupportedContent1">

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Acount: {{ user }} <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cart' %}">Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}" style="color: red;">Logout</a>
    </li>
  </ul>
  <!-- Links -->

</div>
<!-- Collapsible content -->

</nav>
        
        `;
document.getElementById('cart-item').innerHTML =`

        <div class="row">

          {% for item in items %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" height="240px" src="{{ item.image.url }}" />
              <div class="card-body">
                <p class="card-text">{{ item.name }}</a></p>
                <p class="card-text">Price: {{ item.price }}</p>
                <p class="card-text">Quantity: {{ item.quantity }}</p>
                <a href="/delete-item/{{item.id}}" class="text-danger">delete</i></a>
     
              </div>
            </div>
          </div>
          
          {% endfor %}
          
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">Proceed To Cart</button>
`
    }

</script>
  
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>