<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>{{ product.name }} (temporary design)</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  </head>
  <body>

    <style>

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }


  body{
      font-family: 'Open Sans', sans-serif;
    }

    h6{
      line-height: 1.8;
    }

#Logout{

color: red;

}

a{
  color: black;
}


    </style>
<div id="desktop">


  <header>



{% if request.user.is_authenticated %}
<nav class="navbar navbar-light ">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
  <form class="form-inline" action="{% url 'cart' %}">
    <div class="dropdown show">
      <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ user }}
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Cart</a>
        <a class="dropdown-item" id="Logout" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    <button class="btn" style="width: 100px; margin-left: 30px;"><img src="{% static 'shopping-cart.png' %}" width="40%"></button>
  </form>
</nav>
{% else %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
  <form class="form-inline" action="{% url 'cart' %}">
  <a href="{% url 'login' %}"> Login</a>
    <button class="btn" style="width: 100px; margin-left: 30px;"><img src="{% static 'shopping-cart.png' %}" width="40%"></button>
  </form>
</nav>
{% endif %}

  </header>

</div>
      <br>
      <br>
      <br>




    <form method="POST">
        {% csrf_token %}

        <section class="container product my-5 pt-5">
          <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12" style="margin-right:40px ;">
              <br>
              <br>
              <img class="img-fluid w-100" src="{{ product.image.url }}" width="500px" style="height: 78%;" alt="">

            </div>
            <div class="col-lg-6 col-md-12 col-12">

              <h3>{{ product.name}}</h3>
              <hr>
              <br>
              <h3>{{ product.price }} INR</h3>
              <br>
              <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h6>
              <br>
              <input type="number"  min="1" value="1" name="quantity" id="quantity">
              <br>
              <br>
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
            </div>
          </div>
        </section>

</form>

<script>

var isMobile = /iPhone|iPod|Android/i.test(navigator.userAgent);
    if (isMobile) {
        document.getElementById('desktop').innerHTML =`
        <nav class="navbar navbar-light light-blue lighten-4">

<!-- Navbar brand -->
<a class="navbar-brand" href="#">Isana</a>

<!-- Collapse button -->
<button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
  aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
      class="fa fa-bars fa-1x"></i></span></button>

<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="navbarSupportedContent1">

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Acount: {{ user }} <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cart' %}">Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}" style="color: red;">Logout</a>
    </li>
  </ul>
  <!-- Links -->

</div>
<!-- Collapsible content -->

</nav>
        
        `;}



</script>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>