<!doctype html>
<html lang="en">
  <head>
      {% load static  %}
    <title>Address </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


<style>

    body {

        background-color: white;
        
    }

    a{
      color: black;
    }


</style>

<header>
    {% if request.user.is_authenticated %}
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Bootstrap
        </a>
        <form class="form-inline" action="{% url 'cart' %}">
          <div class="dropdown show">
            <a class="dropdown-toggle" href="#" id="drop"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user }}
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Cart</a>
              <a class="dropdown-item" id="Logout" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
          <button class="btn" style="width: 100px; margin-left: 30px;"><img src="{% static 'shopping-cart.png' %}" width="40%"></button>
        </form>
      </nav>
      {% else %}
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Bootstrap
        </a>
        <form class="form-inline" action="{% url 'cart' %}">
        <a href="{% url 'login' %}"> Login</a>
          <button class="btn" style="width: 100px; margin-left: 30px;"><img src="{% static 'shopping-cart.png' %}" width="40%"></button>
        </form>
      </nav>
      {% endif %}
    </header>

    <br>
    <br>
    <center><P style="color: red;">{{ error }}</P></center>


  
<form method="POST">
  {% csrf_token %}
<br>
<br>
<br>
<center><h3>My Addresses</h3></center>
<br>
<br>
        <br>

  
       <center> <select style="width: 60%;" name="data" class="form-select" aria-label="Default select example">
          <option selected>select an address</option>
          {% for a in g %}
          <option value="{{ a.address }}">{{ a.address }}</option>
          {% endfor %}
        </select></center>





<br>
<br>

<center><button type="submit" style="width: 10%;" class="btn btn-primary">Select</button></center>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>